<!DOCTYPE html>
<html>
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruit_and_veggies_test.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="ProduceGame">
        <div class="container" ng-controller="Game">
            <h1>Fruit and Veggies</h1>

            <div class="row">
                <div class="col-sm-4">
                    <h1>Fruits</h1>
                        <div class="well text-center" ng-repeat="item in myFruits">
                            {{item}}
                            <button class="btn btn-md btn-primary" ng-click="putFruitBack()">
                                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                            </button>
                        </div>
                </div>


                <div class="col-sm-4">
                    <h1>All Produce</h1>
                        <div class="well text-center" ng-repeat="item in allProduce">
                            <button class="btn btn-md btn-primary" ng-click="toFruits()">
                                <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                            </button>
                            {{item}}
                            <button class="btn btn-md btn-primary" ng-click="toVeggies()">
                                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                            </button>
                        </div>
                </div>


                <div class="col-sm-4">
                    <h1>Vegetables</h1>
                    <div class="well text-center" ng-repeat="item in myVeggies">
                        <button class="btn btn-md btn-primary" ng-click="putVeggieBack()">
                            <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                        </button>
                        {{item}}
                    </div>
                </div>


            </div>
        </div>
    </body>
</html>